<mat-tab-group>
  <mat-tab label="History lesson">
    <app-historic-approach-demo></app-historic-approach-demo>
  </mat-tab>
  <mat-tab label="Template driven">
    <app-template-driven></app-template-driven>
  </mat-tab>
  <mat-tab label="Form driven">
    <app-form-driven></app-form-driven>
  </mat-tab>
  <mat-tab label="Form driven with Control Value Accessor">
    <app-form-driven-with-cva></app-form-driven-with-cva>
  </mat-tab>
  <mat-tab label="NG Binding">
    <app-template-driven-cva></app-template-driven-cva>
  </mat-tab>
</mat-tab-group>
